.all_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button{
    margin: 5px;
    padding: auto;
    border-radius: 5px;
    align-items: center;
}
